html,body {
    height: 100%;
    width: 100%;
}

body {
    background: mediumturquoise;

    overflow: hidden; /* Hide scrollbars */
}
#title{
    font-size: xx-large;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 0 auto;
    width: 25%;
    position: relative;
}
#lastplayed{
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
    margin:0 auto;
    position:relative;
    
}

.board {
    margin: 0 auto;
    position: relative;
    top: 5%;

    border: 4px solid black;
    height: 500px;
    width:  500px;
}

table {
    border-collapse: collapse;
}

th {
    border: 5px solid black;
    /*padding 0;*/
    margin: 0;
    min-width: 50px;
    min-height: 50px;
}

tr {
    /*padding 0;*/
    margin: 0;
    font-size: 40px;
}

th:hover {
    cursor: pointer;
}
