* {
  font-family: Arial, Helvetica, sans-serif;
}

html,body {
    height: 100%;
    width: 100%;

    margin-top: 20px;
}

body {
    background: #48d1cc;

    overflow: hidden; /* Hide scrollbars */
}
#title{
    font-size: xx-large;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: relative;

}

#lastplayed{
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
    /*margin:0 auto;*/
    position:relative;
    
    width: 100%;
}

.board {
    margin: 0 auto;
    position: relative;
    top: 5%;

    border: 4px solid black;
    height: 500px;
    width:  500px;
}

table.board {
    border-collapse: collapse;
}

.board th {
    border: 5px solid black;
    /*padding 0;*/
    margin: 0;
    min-width: 50px;
    min-height: 50px;
}

.board tr {
    /*padding 0;*/
    margin: 0;
    font-size: 40px;
}

.board th:hover {
    cursor: pointer;
}

.topmoves {

   /* font-size: small; */
   margin: 0 auto;
   margin-top: 10px;
}


table.topmoves {
    border-collapse: collapse;

}

.topmoves thead {
    background-color: #999;
}

.topmoves th,td {
    padding: 8px;
    text-align: left;
    border: 2px solid #000;
}

.topmoves th {
    background-color: #f2f2f2;
}

.topmoves tr:nth-child(even) {
    background-color: #38a8a5;
}

#global {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#table_and_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info {
    color: black;
    float: right;
    margin-right: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
